/* encabezado */
header{
    background-color: #D77A61;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #D77A61;
    max-width: 1920px;
}
.logo img{
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}
    
.navigation{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;   
}

.navigation li{
    flex: 1 1 auto;
}

.navigation a{
    display: block;
    color: ghostwhite;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Quicksand", serif;
}

/* parte de la imagen con letras adentro */

.hero{
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    max-width: 1920px;
    
}

.hero img{
    max-width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 0;
    object-fit: cover;
}

.hero h1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    
    z-index: 1;
    color: ghostwhite;

    display: flex;
    justify-content: center;

    font-size: 60px;
    font-family: "Quicksand", serif;
}

article{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    padding: 20px;


    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    
}

article img{
    max-width: 100%;
    height: auto;
    grid-column: 2;
    
}

article p{
    grid-column: 1;
    color: aquamarine;
    font-size: 25px;
    font-family: "Quicksand", serif;
}


/* history part */

.History{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px;
    grid-gap: 20px;
    background-color: #3A4F41 ;
    max-width: 1920px;
    min-height: 500px;

}

.History h2{
    grid-column: 2 /3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: ghostwhite;
    font-family: "Quicksand", serif;
}

.History img{
    width: 100%;
    height: auto;

    grid-column: 2 / 3;
    grid-row:  2 / 3;
}

.Column1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: ghostwhite;
    padding: 20px;
    font-family: "Quicksand", serif;

}

.Column2{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    color: ghostwhite;
    padding: 20px;
    font-family: "Quicksand", serif;
}

/*Adventure Awaits you part*/

.Adventure{
    background-color: #D77A61;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 2fr;
    max-width: 19200px;
    grid-gap: 20px;
    margin-top: 20px;
}

.Adventure h2{
    grid-column: 1 / 6;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    font-family: "Quicksand", serif;
}

.Adventure .adventure1 img{
    width: 200px;
    height: auto; 
    margin: 10px;
    padding: 10PX;
}


.Adventure .adventure2 img{
    width: 200px;
    height: auto;
    margin: 10px; 
    padding: 210PX;
}

.Adventure .adventure3 img{
    width: 200px;
    height: auto;
    margin: 10px; 
    padding: 10PX;
}

.Adventure .adventure4 img{
    width: 200px;
    height: auto;
    margin: 10px; 
    padding: 10PX;
}

.Adventure .adventure5 img{
    width: 120px;
    height: auto;
    margin: 10px; 
    padding: 10PX;
}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    max-height: 100px;
    background-color: #457EAC ;
    text-align: center;
    position: relative;
    max-width: 1920px;
}

footer p{
    display: flex;
    justify-self: center;
    align-self: center;
    color: ghostwhite;
    font-family: "Quicksand", serif;
    
}

footer nav{
    position: absolute;
    right: 5%;
    display: flex;
    gap: 15px;
}

footer nav img{
    width: 20px;
}

footer nav img:hover {
    transform: scale(1.2);
}